body {
  margin: 0;
  padding: 0;
  width: 300px;
}

body.results {
  width: 600px;
}

/* header {
  padding: 10px;
  background-color: #eee;
}

h2 {
  margin: 0;
}

.understand-box {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.body {
  display: flex;
  justify-content: center;
  padding: 20px;
}

button {
  padding: 10px;
  background-color: #185e18;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */